<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AchievoDash -Empower Your Productivity. Unleash Your Potential</title>
    <!-- Google Fonts -->
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
        rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="../staticFolder/vendor/aos/aos.css" rel="stylesheet">
    <link href="../staticFolder/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../staticFolder/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="../staticFolder/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="../staticFolder/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="../staticFolder/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../staticFolder/vendor/remixicon/remixicon.css">
    <!-- main css file -->
    <link rel="stylesheet" href="../staticFolder/css/styles.css">
    <link rel="stylesheet" href="../staticFolder/css/dashboard.css">
</head>

<body>
    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top">
        <div class="container d-flex align-items-center justify-content-between">
            <h1 class="logo"><a href="{{ url_for('index') }}">Techie</a></h1>
            <!-- <a href="index.html" class="logo"><img src="assets/img/logo.png" alt="" class="img-fluid"></a> -->

            <nav id="navbar" class="navbar">
                <ul>
                    <li><a class="getstarted" href="{{ url_for('logout') }}">Logout</a></li>
                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav>
            <!-- .navbar -->

        </div>
    </header>
    <!-- End Header -->

    <main class="bg-light">
        <div class="container d-flex align-items-center justify-content-between" id="home">

            <!-- Trigger for offcanvas -->
            <div class="d-flex align-items-center">
                <a data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions"
                    href="#offcanvasWithBothOptions" role="button" aria-controls="offcanvasWithBothOptions">
                    <i class="bi bi-list text-dark" style="font-size: 30px"></i>
                </a>
                <h4 class="ms-2 my-0 d-sm-block">Welcome back {{ username }}</h4>
            </div>

            <aside>
                <!-- offcanvas -->
                <div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions"
                    aria-labelledby="offcanvasExampleLabel">
                    <div class="offcanvas-header">
                        <h5 class="offcanvas-title" id="offcanvasExampleLabel">AchievoDash</h5>
                        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                            aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body">
                        <ul class="list-group">
                            <a href="{{ url_for('dashboard') }}" class="text-decoration-none">
                                <li class="list-group-item"><i class="bi bi-speedometer2"></i> &nbsp; Dashboard</li>
                            </a>
                            <a href="{{ url_for('projects') }}" class="text-decoration-none">
                                <li class="list-group-item"><i class="bi bi-boxes"></i> &nbsp; Projects</li>
                            </a>
                            <a href="{{ url_for('task') }}" class="text-decoration-none">
                                <li class="list-group-item"><i class="bi bi-card-checklist"></i> &nbsp; Tasks</li>
                            </a>
                            <a href="{{ url_for('team') }}" class="text-decoration-none">
                                <li class="list-group-item"><i class="bi bi-people-fill"></i> &nbsp; Team members</li>
                            </a>
                            <a href="{{ url_for('calendar') }}" class="text-decoration-none">
                                <li class="list-group-item"><i class="bi bi-calendar-date"></i> &nbsp; Project Calendar
                                </li>
                            </a>
                            <a href="{{ url_for('goal') }}" class="text-decoration-none">
                                <li class="list-group-item"><i class="bi bi-bag-heart"></i> &nbsp; Goals</li>
                            </a>
                            <a href="{{ url_for('profile') }}" class="text-decoration-none">
                                <li class="list-group-item"><i class="bi bi-person-circle"></i> &nbsp; Profile</li>
                            </a>
                        </ul>
                    </div>
                </div>
            </aside>

            <!-- button trigger for add project modal form -->
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal"
                data-bs-whatever="@mdo">Add Project</button>
            <!-- add project modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">New Project</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form method="POST" action="/add_project" enctype="multipart/form-data">
                                <div class="mb-3">
                                    <label for="projectTitle" class="label">Project Title</label>
                                    <div class="input-group">
                                        <input class="projectTitle form-control" id="projectTitle" name="projectTitle"
                                            value="" placeholder=" " type="text">
                                    </div>
                                    <div>
                                        <small class="text-danger">

                                        </small>
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label for="message-text" class="col-form-label">Project Description</label>
                                    <textarea class="form-control" id="message-text" name="message-text"></textarea>
                                </div>
                                <div>
                                    <small class="text-danger">

                                    </small>
                                </div>
                                <div class="mb-3 row">
                                    <div class="col-6">
                                        <label for="files" class="col-form-label">Upload files</label>
                                        <input class="mb-2 form-control" id="files" name="files" value=""
                                            placeholder=" " type="file">
                                    </div>
                                    <div class="col-6">
                                        <label for="projectPriority" class="col-form-label">Priority</label>
                                        <select name="projectPriority" id="projectPriority"
                                            class="form-select form-select mb-3" aria-label=".form-select example">
                                            <option value=""></option>
                                            <option value="Highest">Highest</option>
                                            <option value="High">High</option>
                                            <option value="Medium">Medium</option>
                                            <option value="Low">Low</option>
                                            <option value="Lowest">Lowest</option>
                                        </select>
                                    </div>
                                    <div>
                                        <small class="text-danger">

                                        </small>
                                    </div>
                                </div>
                                <div class="mb-3 row">
                                    <div class="col-6">
                                        <label for="projectStart" class="col-form-label">Start</label>
                                        <input class="mb-2 form-control" id="projectStart" name="projectStart" value=""
                                            placeholder=" " type="datetime-local">
                                    </div>
                                    <div class="col-6">
                                        <label for="projectEnd" class="col-form-label">End</label>
                                        <input class="form-control" id="projectEnd" name="projectEnd" value=""
                                            placeholder=" " type="datetime-local">
                                    </div>
                                    <div>
                                        <small class="text-danger">

                                        </small>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-primary">Add project</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="container pt-3">
            <div class="row intro">
                <div class="col-lg-4 col-md-4 mb-3">
                    <a href="{{ url_for('projects') }}">
                        <div class="card">
                            <div class="icon">
                                <i class="bi bi-boxes"></i>
                            </div>
                            <div class="details">
                                <div class="value"><span id="totalProjects"></span></div>
                                <div class="text">Projects</div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-md-4 mb-3">
                    <a href="{{ url_for('task') }}">
                        <div class="card">
                            <div class="icon">
                                <i class="bi bi-list-check"></i>
                            </div>
                            <div class="details">
                                <div class="value">{{ total_tasks }}</div>
                                <div class="text">Task</div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-md-4 mb-3">
                    <a href="{{ 'team' }}">
                        <div class="card">
                            <div class="icon">
                                <i class="bi bi-people-fill"></i>
                            </div>
                            <div class="details">
                                <div class="value">5</div>
                                <div class="text">Team members</div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <h5>Project analytics</h5>
                    <div class="recents-projects">
                        <div class="head row">
                            <h5>Recents Projects</h5>
                        </div>
                        <div class="table-head row">
                            <h6 class="col-6">Project name</h6>
                            <h6 class="col-6">Progess</h6>
                        </div>
                        <!-- if project is none -->
                        {% if projects %}
                        {% for project in projects %}
                        <div class="table-body row">
                            {% set project_info = project_data[loop.index0] %}
                            <div class="projects-title col-6">
                                <a href="{{ url_for('projectdetails', project_id=project.id) }}">{{ project.title }}</a>
                                <span>{{ project_info.total_tasks }}</span> <span>Tasks</span>
                            </div>
                            <div class="col-6 pt-3">
                                <div class="progress" role="progressbar" aria-label="Info example"
                                    aria-valuenow="{{ project_info.progress_percentage }}" aria-valuemin="0"
                                    aria-valuemax="100">
                                    <div class="progress-bar bg-info text-dark"
                                        style="width: {{ project_info.progress_percentage }}%">{{
                                        project_info.progress_percentage }}%</div>
                                </div>
                            </div>

                        </div>
                        {% endfor %}
                        {% else %}
                        <div class="none text-center">
                            <p>No project added</p>
                        </div>
                        {% endif %}
                        <div class="table-foot row">
                            <a href="{{ url_for('projects') }}">View more projects</a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 col-md-6 mt-3">
                    <h5>Task analytics</h5>
                </div>
            </div>
        </div>
        <div class="container">
            <h5 class="mb-3">Ongoing Tasks:</h5>
            <div class="row mb-4 task">
                {% if ongoing_tasks %}
                {% for ongoing_task in ongoing_tasks %}
                <div class="col-lg-4">
                    <div class="card in-progress">
                        <a href="{{ url_for('taskdetails', task_id=ongoing_task.id) }}">
                            <div class="card-head">
                                <h5 class="bg-primary px-3 py-1">{{ ongoing_task.task_title }}</h5>
                                <div class="card-subhead">
                                    <div class="avatar">
                                        <img src="../staticFolder/images/avatar1.jpg" alt="avatar">
                                        <img src="../staticFolder/images/avatar2.jpg" alt="avatar">
                                        <img src="../staticFolder/images/avatar3.jpg" alt="avatar">
                                        <p class="badge bg-warning d-block mt-2">{{ ongoing_task.task_priority }}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <p>{{ ongoing_task.description | truncate_description(20) }}</p>
                            </div>
                            <div class="card-foot d-flex">
                                <div class="subdetails">
                                    {% if ongoing_task.end_date %}
                                    <span>{{ ongoing_task.end_date.strftime('%Y-%m-%d %H:%M') }}</span>
                                    {% endif %}
                                    <span> <i class="bi bi-chat-square-text-fill"></i> 5</span>
                                    <span> <i class="bi bi-link"></i></span>
                                </div>
                                <div class="project-title px-2 py-1">
                                    {{ ongoing_task.project_title }}
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                {% endfor %}
                {% else %}
                <div class="none card shadow-sm in-progress">
                    <p>No On going tasks</p>
                </div>
                {% endif %}
            </div>
        </div>
        <div class="container">
            <h5 class="mb-3">Completed Tasks:</h5>
            <div class="row mb-4 task">
                {% if completed_tasks %}
                {% for completed_task in completed_tasks %}
                <div class="col-lg-4">
                    <div class="card completed">
                        <a href="{{ url_for('taskdetails', task_id=completed_task.id) }}">
                            <div class="card-head">
                                <h5 class="bg-primary px-3 py-1">{{ completed_task.task_title }}</h5>
                                <div class="card-subhead">
                                    <div class="avatar">
                                        <img src="../staticFolder/images/avatar1.jpg" alt="avatar">
                                        <img src="../staticFolder/images/avatar2.jpg" alt="avatar">
                                        <img src="../staticFolder/images/avatar3.jpg" alt="avatar">
                                        <p class="badge bg-warning d-block mt-2">{{ completed_task.task_priority }}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <p>{{ completed_task.description | truncate_description(20) }}</p>
                            </div>
                            <div class="card-foot d-flex">
                                <div class="subdetails">
                                    {% if completed_task.end_date %}
                                    <span>{{ completed_task.end_date.strftime('%Y-%m-%d %H:%M') }}</span>
                                    {% endif %}
                                    <span> <i class="bi bi-chat-square-text-fill"></i> 5</span>
                                    <span> <i class="bi bi-link"></i></span>
                                </div>
                                <div class="project-title px-2 py-1">
                                    {{ completed_task.project_title }}
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                {% endfor %}
                {% else %}
                <div class="none card shadow-sm completed">
                    <p>No task completed</p>
                </div>
                {% endif %}
            </div>
        </div>
        <div class="container">
            <h5 class="mb-3">Onhold Tasks:</h5>
            <div class="row mb-4 task">
                {% if onhold_tasks %}
                {% for onhold_task in onhold_tasks %}
                <div class="col-lg-4">
                    <div class="card on-hold">
                        <a href="{{ url_for('taskdetails', task_id=onhold_task.id) }}">
                            <div class="card-head">
                                <h5 class="bg-primary px-3 py-1">{{ onhold_task.task_title }}</h5>
                                <div class="card-subhead">
                                    <div class="avatar">
                                        <img src="../staticFolder/images/avatar1.jpg" alt="avatar">
                                        <img src="../staticFolder/images/avatar2.jpg" alt="avatar">
                                        <img src="../staticFolder/images/avatar3.jpg" alt="avatar">
                                        <p class="badge bg-warning d-block mt-2">{{ onhold_task.task_priority }}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <p>{{ onhold_task.description | truncate_description(20) }}</p>
                            </div>
                            <div class="card-foot d-flex">
                                <div class="subdetails">
                                    {% if onhold_task.end_date %}
                                    <span>{{ onhold_task.end_date.strftime('%Y-%m-%d %H:%M') }}</span>
                                    {% endif %}
                                    <span> <i class="bi bi-chat-square-text-fill"></i> 5</span>
                                    <span> <i class="bi bi-link"></i></span>
                                </div>
                                <div class="project-title px-2 py-1">
                                    {{ onhold_task.project_title }}
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                {% endfor %}
                {% else %}
                <div class="none card shadow-sm on-hold">
                    <p>No task placed on hold</p>
                </div>
                {% endif %}
            </div>
        </div>
        <div class="container">
            <h5 class="mb-3">Pending Tasks:</h5>
            <div class="row mb-4 task">
                {% if pending_tasks %}
                {% for pending_task in pending_tasks %}
                <div class="col-lg-4">
                    <div class="card pending">
                        <a href="{{ url_for('taskdetails', task_id=pending_task.id) }}">
                            <div class="card-head">
                                <h5 class="bg-primary px-3 py-1">{{ pending_task.task_title }}</h5>
                                <div class="card-subhead">
                                    <div class="avatar">
                                        <img src="../staticFolder/images/avatar1.jpg" alt="avatar">
                                        <img src="../staticFolder/images/avatar2.jpg" alt="avatar">
                                        <img src="../staticFolder/images/avatar3.jpg" alt="avatar">
                                        <p class="badge bg-warning d-block mt-2">{{ pending_task.task_priority }}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <p>{{ pending_task.description | truncate_description(20) }}</p>
                            </div>
                            <div class="card-foot d-flex">
                                <div class="subdetails">
                                    {% if pending_task.end_date %}
                                    <span>{{ pending_task.end_date.strftime('%Y-%m-%d %H:%M') }}</span>
                                    {% endif %}
                                    <span> <i class="bi bi-chat-square-text-fill"></i> 5</span>
                                    <span> <i class="bi bi-link"></i></span>
                                </div>
                                <div class="project-title px-2 py-1">
                                    {{ pending_task.project_title }}
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                {% endfor %}
                {% else %}
                <div class="none card shadow-sm pending">
                    <p>No pending task</p>
                </div>
                {% endif %}
            </div>
        </div>
        <div class="container">
            <h5 class="mb-3">Review Tasks:</h5>
            <div class="row mb-4 task">
                {% if review_tasks %}
                {% for review_task in review_tasks %}
                <div class="col-lg-4">
                    <div class="card review">
                        <a href="{{ url_for('taskdetails', task_id=review_task.id) }}">
                            <div class="card-head">
                                <h5 class="bg-primary px-3 py-1">{{ review_task.task_title }}</h5>
                                <div class="card-subhead">
                                    <div class="avatar">
                                        <img src="../staticFolder/images/avatar1.jpg" alt="avatar">
                                        <img src="../staticFolder/images/avatar2.jpg" alt="avatar">
                                        <img src="../staticFolder/images/avatar3.jpg" alt="avatar">
                                        <p class="badge bg-warning d-block mt-2">{{ review_task.task_priority }}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <p>{{ review_task.description | truncate_description(20) }}</p>
                            </div>
                            <div class="card-foot d-flex">
                                <div class="subdetails">
                                    {% if review_task.end_date %}
                                    <span>{{ review_task.end_date.strftime('%Y-%m-%d %H:%M') }}</span>
                                    {% endif %}
                                    <span> <i class="bi bi-chat-square-text-fill"></i> 5</span>
                                    <span> <i class="bi bi-link"></i></span>
                                </div>
                                <div class="project-title px-2 py-1">
                                    {{ review_task.project_title }}
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                {% endfor %}
                {% else %}
                <div class="none card shadow-sm review">
                    <p>No task placed on review</p>
                </div>
                {% endif %}
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 goals">
                    <div class="goal-head d-flex justify-content-between mb-3">
                        <h5>Goals</h5>
                        <!-- button trigger for add goal modal form -->
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#goalModal"
                            data-bs-whatever="@mdo">+</button>
                        <!-- add goal modal -->
                        <div class="modal fade" id="goalModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                            aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="exampleModalLabel">New Goal</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <form method="POST" action="/add_goal">
                                            <div class="mb-3">
                                                <label for="goalSubject" class="label">Subject</label>
                                                <div class="input-group">
                                                    <input class="goalSubject form-control" id="goalSubject"
                                                        name="goalSubject" value="" placeholder=" " type="text">
                                                </div>
                                                <div>
                                                    <small class="text-danger">

                                                    </small>
                                                </div>
                                            </div>
                                            <div class="mb-3">
                                                <label for="target" class="label">Target Achievement</label>
                                                <div class="input-group">
                                                    <input class="target form-control" id="target" name="target"
                                                        value="" placeholder=" " type="text">
                                                </div>
                                                <div>
                                                    <small class="text-danger">

                                                    </small>
                                                </div>
                                            </div>
                                            <div class="mb-3">
                                                <label for="message-text" class="col-form-label">Description</label>
                                                <textarea class="form-control" id="message-text"
                                                    name="message-text"></textarea>
                                                <div>
                                                    <small class="text-danger">

                                                    </small>
                                                </div>
                                            </div>
                                            <div class="mb-3 row">
                                                <div class="col-6">
                                                    <label for="goalStart" class="col-form-label">Start</label>
                                                    <input class="mb-2 form-control" id="goalStart" name="goalStart"
                                                        value="" placeholder=" " type="datetime-local">
                                                </div>
                                                <div class="col-6">
                                                    <label for="goalEnd" class="col-form-label">End</label>
                                                    <input class="form-control" id="goalEnd" name="goalEnd" value=""
                                                        placeholder=" " type="datetime-local">
                                                </div>
                                                <div>
                                                    <small class="text-danger">

                                                    </small>
                                                </div>
                                            </div>
                                            <div class="mb-3">
                                                <label for="goalstatus">Status</label>
                                                <select name="goalstatus" id="goalstatus"
                                                    class="form-select form-select-lg mb-3"
                                                    aria-label=".form-select-lg example">
                                                    <option value="empty"></option>
                                                    <option value="achieved">Achieved</option>
                                                    <option value="active">Active</option>
                                                    <option value="inactive">Inactive</option>
                                                </select>
                                                <div>
                                                    <small class="text-danger">

                                                    </small>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary"
                                                    data-bs-dismiss="modal">Close</button>
                                                <button type="submit" class="btn btn-primary">Add Goal</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% if goals %}
                    {% for goal in goals %}
                    <div class="card">
                        <h5>{{goal.subject}}</h5>
                        <p>{{ goal.description }}</p>
                        <p>{{ goal.target_achievement }}</p>
                        <div class="card-foot d-flex justify-content-between align-items-center">
                            <p>Due on {{ goal.end_date }}</p>
                            <p class="status-text px-3 py-1">{{goal.status}}</p>
                        </div>
                    </div>
                    {% endfor %}
                    {% else %}
                    <div class="none card shadow-sm">
                        <p>No Goals added</p>
                    </div>
                    {% endif %}
                </div>
                <div class="col-lg-6 col-md-6 mt-3">
                    <div class="card team">
                        <h5>Team members</h5>
                        <div class="container">
                            <div class="row">
                                <div class="col-6">
                                    <div class="card mb-3 p-3">
                                        <div class="icon-member">
                                            <i class="bi bi-person-circle"></i>
                                        </div>
                                        <div class="team-details">
                                            <h4>Member name</h4>
                                            <h5>Member role</h5>
                                            <div
                                                class="member-subdetails d-flex justify-content-between align-items-center">
                                                <div class="date">
                                                    <span>joined </span>
                                                    <span>date</span>
                                                </div>
                                                <div class="member-status px-2 py-1">
                                                    Status
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="card mb-3 p-3">
                                        <div class="icon-member">
                                            <i class="bi bi-person-circle"></i>
                                        </div>
                                        <div class="team-details">
                                            <h4>Member name</h4>
                                            <h5>Member role</h5>
                                            <div
                                                class="member-subdetails d-flex justify-content-between align-items-center">
                                                <div class="date">
                                                    <span>joined </span>
                                                    <span>date</span>
                                                </div>
                                                <div class="member-status px-2 py-1">
                                                    Status
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="card mb-3 p-3">
                                        <div class="icon-member">
                                            <i class="bi bi-person-circle"></i>
                                        </div>
                                        <div class="team-details">
                                            <h4>Member name</h4>
                                            <h5>Member role</h5>
                                            <div
                                                class="member-subdetails d-flex justify-content-between align-items-center">
                                                <div class="date">
                                                    <span>joined </span>
                                                    <span>date</span>
                                                </div>
                                                <div class="member-status px-2 py-1">
                                                    Status
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="card mb-3 p-3">
                                        <div class="icon-member">
                                            <i class="bi bi-person-circle"></i>
                                        </div>
                                        <div class="team-details">
                                            <h4>Member name</h4>
                                            <h5>Member role</h5>
                                            <div
                                                class="member-subdetails d-flex justify-content-between align-items-center">
                                                <div class="date">
                                                    <span>joined </span>
                                                    <span>date</span>
                                                </div>
                                                <div class="member-status px-2 py-1">
                                                    Status
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <a href="{{ url_for('team') }}" class="btn btn-outline-primary btn-lg">Load more</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </main>

    <!-- ======= Footer ======= -->
    <footer id="footer">
        <div class="footer-top">
            <div class="container">
                <div class="row">

                    <div class="col-lg-4 col-md-6">
                        <div class="footer-info">
                            <h3>AchievoDash</h3>
                            <p class="pb-3"><em>Stay connected with us for the latest updates and news on our products
                                    and services.</em>
                            </p>
                            <p>
                                37b second west circular road, <br>
                                Benin City, Edo State<br><br>
                                <strong>Phone:</strong> +234 805 7980 962<br>
                                <strong>Email:</strong> israelnosakhare21@gmail.com<br>
                            </p>
                            <div class="social-links mt-3">
                                <a href="https://twitter.com/Izzy_windz/" class="twitter"><i
                                        class="bx bxl-twitter"></i></a>
                                <a href="https://web.facebook.com/israel.ajagboye/" class="facebook"><i
                                        class="bx bxl-facebook"></i></a>
                                <a href="https://www.instagram.com/izzywindz03/" class="instagram"><i
                                        class="bx bxl-instagram"></i></a>
                                <a href="https://medium.com/@isreal4christ21" class="google-plus"><i
                                        class="bx bxl-medium"></i></a>
                                <a href="https://www.linkedin.com/in/israel-ajagboye/" class="linkedin"><i
                                        class="bx bxl-linkedin"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-2 col-md-6 footer-links">
                        <h4>Useful Links</h4>
                        <ul>
                            <li><i class="bx bx-chevron-right"></i> <a href="/#home">Home</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="/#about">About us</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="/#services">Services</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Terms of service</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li>
                        </ul>
                    </div>

                    <div class="col-lg-2 col-md-6 footer-links">
                        <h4>Our Services</h4>
                        <ul>
                            <li><i class="bx bx-chevron-right"></i> <a
                                    href="../staticFolder/html/services/collaboration.html">Collaboration</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a
                                    href="../staticFolder/html/services/task.html">Task management</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a
                                    href="../staticFolder/html/services/goal.html">Goal tracking</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a
                                    href="../staticFolder/html/services/analytics.html">Performance analytics</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a
                                    href="../staticFolder/html/services/integration.html">Integration capabilities</a>
                            </li>
                        </ul>
                    </div>

                    <div class="col-lg-4 col-md-6 footer-newsletter">
                        <h4>Our Newsletter</h4>
                        <p>Subscribe to our newsletter and be the first to receive exclusive offers, product updates,
                            and valuable insights delivered straight to your inbox.</p>
                        <form action="mailto:israelnosakhare21@gmail.com" method="post">
                            <input type="email" name="email"><input type="submit" value="Subscribe">
                        </form>

                    </div>

                </div>
            </div>
        </div>

        <div class="container">
            <div class="copyright">
                &copy; Copyright <strong><span>AchievoDash</span></strong>. All Rights Reserved
            </div>
            <div class="credits">
                Designed by <a href="https://dr-savant21.github.io/Israel_Ajagboye_portfolio/">SavantcodeTech</a>
            </div>
        </div>
    </footer>
    <!-- End Footer -->


    <a href="#home" class="back-to-top d-flex align-items-center justify-content-center"><i
            class="bi bi-arrow-up-short"></i></a>
    <div id="preloader"></div>

    <!-- Vendor JS Files -->
    <script src="../staticFolder/vendor/purecounter/purecounter_vanilla.js"></script>
    <script src="../staticFolder/vendor/aos/aos.js"></script>
    <script src="../staticFolder/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../staticFolder/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="../staticFolder/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="../staticFolder/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="../staticFolder/vendor/php-email-form/validate.js"></script>

    <!-- jquery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- main js file -->
    <script src="../staticFolder/js/dashboard.js"></script>
    <script src="../staticFolder/js/index.js"></script>
</body>

</html>